# dependencies
node_modules

#demo
packages/video

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# ponder
.ponder
.ponder.bak*

# cli
dist

# env
.env
.env.local
.vercel
